<div class="banner">
    
    {{#if type}}
    <h3>Order your {{type}}</h3>
    {{else}}
    <h3>Order Now</h3>
    {{/if}}
    <a href="mailto:e.stevenson6@hotmail.com">e.stevenson6@hotmail.com</a>
    </div>