<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looper Restaurant</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
<nav> 
    <a href="/">Home</a>
    <a href="/contact-page">Contact</a>
</nav>


    <h1>Wagwan. This is our amazing restaurant</h1>
    <h2>Have a slice of Pizza Init</h2>

    <img src="/images/pizza-image.jpg" alt="delicious pizzas" />

</body>

</html>